/* make sidebar and main header sticky */
/* adapted from https://stackoverflow.com/q/41240878/7912251 */

.sidebar {
  color: #FFF;
  position: fixed;
	height: calc(100vh - 50px);
  width: 220px;
  white-space: nowrap;
  overflow-y: auto;
}

.main-header {
  position: fixed;
  width: 100%;
}

.content {
  padding-top: 50px;
}
